[2018-03-10 22:46] kasper3 opened #5 "Entry point /bin/bash missing"
When we run it interactively with `docker run -it mageia`, it gives an error:

[code]

the fix is to specify the command explicitly `docker run -it mageia /bin/bash`.

Compared to this, we get right to `bash` when we try ubuntu image 'docker run -it ubuntu'. Please add entry point to base image. For comparison, ubuntu image scripts are available here https://github.com/dockerfile/ubuntu

[2018-03-10 22:53] kasper3 opened #6 "no media.cfg file found"
Steps to repro

[code]

The solution is posted here: https://forums.mageia.org/en/viewtopic.php?f=8&t=8788

Running `urpmi.addmedia --distrib --wget 'ftp://ftp.snt.utwente.nl/pub/os/linux/mageia/distrib/$RELEASE/$ARCH'` fixes the issue.

Please add an official distribution meda in the base box. If someone wants to opt out of it, they can remove/replace it. "principle of least surprise" and all.. :

[2018-03-11 00:02] juanluisbaptiste commented on #6
Hi,

Thanks for reporting, I had not noticed it. It's weird because the base root filesystem [creation script](https://github.com/juanluisbaptiste/docker-brew-mageia/blob/master/mkimage-urpmi.sh) does add medias when creating the base image:

[code]

So I'm not sure why it is empty now. I will have to do some tests.

[2018-03-11 00:16] juanluisbaptiste commented on #6
In the mean time you can use dnf to install packages.

[2018-03-11 00:27] ghost commented on #6
@juanluisbaptiste, thanks. Don't know much about dnf but looks interesting, after the fix (with `--distrib --wget` command mentioned above), I was able to install two packages that I needed. FWIW, I am using text-only mode via docker.

I just read about URPMI and Mageia and thought about trying it out to test building .NET Core applications. So far i have been successful: https://gist.github.com/a

[2018-03-11 00:49] juanluisbaptiste commented on #6
Ok, with a local build on a mga5 container, using this command to build the image seems to be working:

[code]

I"m going to push an updated version.

[2018-03-11 00:56] juanluisbaptiste commented on #6
Update pushed.

@tianon We're releasing and updated image, I have already done the update, could you check it please ? also I don't remember what's next now to get the image pushed to docker hub (long time since last one), is it automatic or do I need to open an issue ?

[2018-03-11 00:58] juanluisbaptiste commented on #5
Fixed.

[2018-03-11 00:59] #5 closed

[2018-03-11 00:59] juanluisbaptiste commented on #5
Just need to get new updated image to docker hub.

[2018-03-17 15:20] filipesaraiva commented on #6
I installed the image some hours ago and the problem remains.

[2018-03-17 18:01] juanluisbaptiste commented on #6
Because the image still has not been build.

@tianon could you give us a hand please ? I remember that I need to edit mageia's library file with the commit containing the tarballs, but looking the current commit on that file, I can't find it when looking for it with git log, so I'm not sure if I'm missing something.

[2018-03-17 18:53] ghost commented on #6
Maybe @tianon is not getting copied. Should we open an issue at https://github.com/docker-library/official-images for wider audience and improve our chances? :)

[2018-03-19 03:06] juanluisbaptiste commented on #6
@kasper3 well @tianon normally answers when he gets mentioned, but indeed is rare for him to take this long. So yes, maybe we should open a ticket there.

[2018-03-19 15:03] tianon commented on #6
Sorry, my inbox has been even more out of control than usual lately!

The reason you don't see the commit is because each "tarball-including" commit needs to be force-pushed, since big tarballs in Git don't work terribly well (so we ask that only one exists in any given tree of history we consume).

I've taken a quick look at your current "dist" branch, and it's only a single commit ahead of maste

[2018-03-19 20:22] juanluisbaptiste commented on #6
Excellent, I'll finish this later when I get back home (holiday weekend !).

[2018-03-19 20:25] ghost commented on #6
Thank you very much guys!

[2018-03-19 21:55] juanluisbaptiste commented on #6
Ok, @tianon I have created a [PR](https://github.com/docker-library/official-images/pull/4147) with the new commit.

[2018-03-20 15:43] juanluisbaptiste commented on #6
Image has been updated and its working, reopen if you have any issues.

[2018-03-20 15:43] #6 closed

[2018-04-21 21:44] Conan-Kudo opened #7 "DNF is missing in Mageia 6 container"
I recently updated my Mageia 6 container and I no longer have DNF in the environment.

I'm very confused here, as it used to be there, and it's supposed to be there along with urpmi.

[2018-04-21 21:56] Conan-Kudo commented on #7
This looks like it was caused by the "fix" for #6. I've proposed a better fix in #8.

[2018-04-22 03:35] juanluisbaptiste commented on #7
Oops, I didn't notice, I'll review PR ASAP.

[2018-04-24 23:31] juanluisbaptiste commented on #7
Ok, I took a look and now I understand what happened and why dnf broke when fixing #6 . We have two image build scripts, one for urpmi and one for dnf, this doesn't make sense, we only have one image that should support all of mageia's supported package managers. I don't know why I didn't think of this when merging that PR, but we only need one build script.

Now about your fix, I don't like it be

[2018-04-24 23:32] Conan-Kudo commented on #7
@juanluisbaptiste `mkimage-urpmi.sh` will be deprecated once Mageia 5 is EOL in a month. Mageia 7 is also planned to remove urpmi to only have DNF: https://wiki.mageia.org/en/Feature:Switch_to_DNF

[2018-04-24 23:33] Conan-Kudo commented on #7
@juanluisbaptiste If anything, I think you should remove `mkimage-urpmi.sh` if you don't want to have both (if you don't intend to produce anymore Mageia 5 images).

[2018-04-24 23:38] juanluisbaptiste commented on #7
Ah ok, I have been away from mageia main dev so I did not know about urpmi being discontinued. In that case then it makes more sense to keep mkimage-dnf.sh than mkimage-urpmi.sh.

[2018-04-25 00:07] Conan-Kudo commented on #7
No worries, I figured you were out of the loop. 😄

You should come back and join in the fun! 😃

[2018-04-25 08:48] juanluisbaptiste commented on #7
Sorry again for the delay, I have been working on a build/push script to ease things forward (almost finished).

I just finished the update and pushed it before testing it but I now notice that althought both dnf and urpmi are installed, urpmi is broken:

[code]

It's really late here, could you take a look at it ?

Thanks.

[2018-04-26 00:13] juanluisbaptiste commented on #7
Duh, it seems I was reaaally tired last night and didn't notice that PR #7 fixes exaclty that. Building new image right now.

[2018-04-26 00:14] Conan-Kudo commented on #7
It's all good! :grinning:

[2018-04-26 00:42] Conan-Kudo commented on #7
Though, I think you meant PR #8. :grin:

[2018-04-26 06:32] juanluisbaptiste commented on #7
Yep you are right, I confused the issue and the PR. The image is ready, now I'll proceed updating docker library project with the new image commit hashes and we are done.

[2018-04-26 06:37] juanluisbaptiste commented on #7
yup

[2018-04-26 06:46] juanluisbaptiste commented on #7
Docker library PR created, lets hope it doesn't take too long.

[2018-04-26 17:59] #7 closed

[2018-05-29 13:57] olfway opened #9 "Bad urpmi repos in mageia:5"
Could you, please, refresh mageia:5* images?

Currently, they configured to use distro.ibiblio.org, which doesn't have mageia5 repositories anymore

[2018-05-30 01:58] juanluisbaptiste commented on #9
Ok, I will check it out ASAP.

[2018-05-30 05:41] juanluisbaptiste commented on #9
Done first part, now I need to update the commit hash in docker library.

[2018-05-30 05:49] juanluisbaptiste commented on #9
Done:

https://github.com/docker-library/official-images/pull/4407

Now wait for PR to be merged and new image to be pushed.

[2018-05-30 18:29] juanluisbaptiste commented on #9
Merged.

[2018-05-30 18:29] #9 closed

[2018-07-25 10:27] anuscool opened #10 "mageia aarch64 support"
i have requirement to run mageia on aarch64,does it support aarch64?

[2018-07-25 15:50] juanluisbaptiste commented on #10
Hi,

No, it currently does not. @Conan-Kudo do you know what would be needed to support this architecture ?

[2018-07-25 15:58] Conan-Kudo commented on #10
Well, AArch64 support is in Cauldron, so we'd just need to start producing the Cauldron container regularly again.

Insofar as what we need to change for supporting AArch64, I can look into it.

I think @berolinux did this recently for OpenMandriva with a fork of this script, I'll check with him on this.

[2018-07-25 16:13] juanluisbaptiste commented on #10
Excellent @Conan-Kudo, and for the cauldron build, I have been working on a script to automate updates to this image, but I have not committed it yet. I haven't tested it in a while but I'll push it now so we can review it and see if we can use it to automate a cauldron build too.

[2018-07-26 03:08] juanluisbaptiste commented on #10
@Conan-Kudo here's the script:

https://github.com/juanluisbaptiste/docker-brew-mageia/blob/master/build2release/build2release.sh

But maybe we should open a separate issue to discuss it?

[2018-07-26 07:14] anuscool opened #11 "rootfs creation problem"
[root@1bd56c6fe531 /]# ./mkimage-dnf.sh -h
usage: mkimage-dnf.sh --rootfs=rootfs_path --version=mageia_version [--mirror=url] [--package-manager=(dnf|microdnf|urpmi)] [--with-systemd]
   ie: mkimage-dnf.sh --rootfs=. --version=6 --with-systemd
       mkimage-dnf.sh --rootfs=. --version=cauldron --package-manager=dnf --with-systemd
       mkimage-dnf.sh --rootfs=/tmp/rootfs --version=6 --mirror=htt

[2018-07-26 14:37] juanluisbaptiste commented on #11
We only support creating the image on mageia systems. I have not tested it on fedora nor plan to. Also you are not even posting an error message.

[2018-07-26 15:03] Conan-Kudo commented on #11
@anuscool If you want to use the tool to create Mageia systems on Fedora, you _must_ specify the mirror. Otherwise it'll use the Fedora defined ones and break.

[2018-07-26 15:15] anuscool commented on #11
@juanluisbaptiste @Conan-Kudo
Actually i have to build mageia for aarch64 using docker so for this i need its rootfs,which is not available now.
For running the script mkimage-urpmi.sh on aarch64 i need to have mageia image ,how i will create mageia aarch64 rootfs i have centos support on my aarch64 hardware.

[2018-07-26 15:19] Conan-Kudo commented on #11
@anuscool

You can create Mageia aarch64 rootfses from Fedora or Mageia AArch64 only, as CentOS AArch64 does not have DNF.

To produce the rootfs, use the `mkimage-dnf.sh` script like so:

[code]

[2018-07-26 15:21] Conan-Kudo commented on #10
@juanluisbaptiste I'm going to work on some enhancements to make it possible to produce aarch64 container rootfses from x86_64 systems on Fedora or Mageia for the script.

[2018-07-26 15:34] anuscool commented on #11
I dont have fedora  on my aarch64 hardware so i am using fedora docker image on aarch64 and then i am copying script mkimage-dnf.sh in fedora container and running this script inside fedora container but after running it doesnot produces rootfs tar,only i see folder inside  tmp/rootfs/rootfs/var/ and sub folder cache/ lib/   log/ in side var. i

[2018-07-26 16:25] juanluisbaptiste commented on #10
@Conan-Kudo Excellent.

[2018-07-27 07:22] anuscool commented on #10
@Conan-Kudo <https://github.com/Conan-Kudo>  it would be very helpful if
you provide aarch64 rootfs using script.

On Thu, Jul 26, 2018 at 8:53 PM, Neal Gompa (ニール・ゴンパ) <
notifications@github.com> wrote:

[2018-07-27 15:32] anuscool commented on #10
@Conan-Kudo it would be very helpful if we get aarch64 rootfs,i am not able to build it on aarch64

[2018-07-28 10:44] anuscool commented on #11
i am not able to build rootfs for aarch64 by this command using fedora container on aarch64

./mkimage-dnf.sh --rootfs=/tmp/rootfs --version=cauldron --mirror=http://mirrors.kernel.org/mageia/distrib/cauldron/aarch64/

am i missing something?

[2018-07-31 15:19] anuscool commented on #10
I am able to build aarch64 rootfs for mageia using mkimage-dnf.sh script.
but i am getting error when i do dnf update beacause
Cannot download 'https://www.mageia.org/mirrorlist/?release=cauldron&arch=aarch64&section=core&repo=release': Cannot prepare internal mirrorlist: No URLs in mirrorlist.

This mirror list is not present for aarch64.

so i have changed /etc/yum.repos.d/mageia-aarch64.repo fi

[2018-08-01 10:26] odidev commented on #10
Hi @anuscool : I do agree that ```dnf error``` is the result of missing support for official mirrors for ```aarch64```

Even I would like to see ```arm64v8``` in list of official supported platforms for ```mageia```.

Lets hear from experts @juanluisbaptiste, @Conan-Kudo.
Guys, can you please suggest whether the changes done by @anuscool are good to go or not.
It seems changes done by him are just

[2018-08-03 06:00] odidev commented on #10
Any update regarding this?
I can raise a **PR** if guys agree to it.

I just want to see and use ```mageia``` as ```docker pull```able on ```arm64v8``` architecture.

[2018-08-09 16:01] anuscool commented on #10
Thanx for support.....mageia is working for me on aarch64 i am closing this ticket

[2018-08-09 16:01] #10 closed

[2018-08-09 16:06] anuscool commented on #11
mageia rootfs is working for me,i am closing this ticket

[2018-08-09 16:06] #11 closed

[2018-08-20 05:51] odidev opened #12 "Add support for ARM architectures"
This is in continuation to Ticket id #10.
That ticket has too much conversation related to various things, so I have opened this fresh ticket.

I have ```Mageia``` working for me over ```arm64v8``` and I have created a rootfs required for ```arm64v8```.

Please let m know what needs to be done to raise a PR for this repository.
I can also provide build and run logs if required for confirmation.

R

[2018-08-23 10:37] odidev commented on #12
ping @juanluisbaptiste @Conan-Kudo

Hi,
Can you please tell me where can I upload rootfs for ```arm64v8``` to enable support of ```mageia``` over ```arm64v8```.

Regards,

[2018-08-23 10:54] Conan-Kudo commented on #12
@odidev It has to be built by a member of Mageia.org verified to submit to Docker Hub. At this point, that is only @juanluisbaptiste. I still need to improve our tooling so that it's easy to produce alt-arch rootfses.

[2018-08-23 10:57] odidev commented on #12
Thanks, @Conan-Kudo for providing the information.

Does this mean that I can't push my rootfs for Mageia?

[2018-08-23 10:57] Conan-Kudo commented on #12
Correct.

[2018-08-23 11:00] odidev commented on #12
Oops...
This is really a bad news :disappointed:

Is there any other option by which we can see ```arm64v8``` in the official list of ```Mageia```?

Regards,

[2018-08-23 11:06] Conan-Kudo commented on #12
@odidev I'm working on updating our tooling for producing AArch64 base images, and @juanluisbaptiste mentioned we'll soon have a process for regularly releasing updates to the Cauldron base image.

[2018-08-24 20:14] juanluisbaptiste commented on #12
Yes, but I have been busy to dedicate some time to this. I'll try to work on this this weekend.

[2018-10-17 07:50] lag-linaro commented on #12
@juanluisbaptiste great to see that this is on your radar.

Would you be kind enough to provide an update on your progress please?

[2018-10-21 00:16] juanluisbaptiste commented on #12
@lag-linaro I'm not working on the arm64v8 feature, that's @Conan-Kudo . I'm working on automating a cauldron build.

[2018-10-26 10:33] lag-linaro commented on #12
@juanluisbaptiste ah yes, I see.  Thank you.

@Conan-Kudo would you be kind enough to share an update please?

[2018-11-13 07:01] lag-linaro commented on #12
@Conan-Kudo how are your tooling updates coming along?

[2018-11-13 11:25] Conan-Kudo commented on #12
I think I've nearly got it, I'm just doing some testing to make sure that I do the right thing for AArch64-on-x86_64, since most people will be producing those images that way...

[2018-11-13 11:39] lag-linaro commented on #12
@Conan-Kudo great work.  Thank you.

Please let me know when I can test it.

[2018-12-07 06:01] odidev commented on #12
Hey @Conan-Kudo

Any update at your end regarding?

Regards,

[2018-12-13 12:34] lag-linaro commented on #12
The suspense is killing me. :smiley:

[2018-12-13 13:19] Conan-Kudo commented on #12
@odidev @lag-linaro Check out #13. 🎉

[2018-12-13 20:28] juanluisbaptiste commented on #12
I don't know why github decided this was finished but we are still missing the image update. Keeping it open until I can do it, hopefully before I go on vacations at the end of next week.

[2018-12-14 08:36] lag-linaro commented on #12
Because of the `Fixes #12` tag in the merged #13 PR.

That would be great.  Thanks.

[2018-12-14 08:42] lag-linaro commented on #12
Please remember to also update Docker's Official Images library file for Mageia:

https://github.com/docker-library/official-images/blob/master/library/mageia

Hint: You need to add the `Architectures:` tag.

See: https://github.com/docker-library/official-images#multiple-architectures for reference.

[2019-01-15 00:38] juanluisbaptiste commented on #12
Hi,

I'm starting to work on this now. As I have mentioned [before](https://github.com/juanluisbaptiste/docker-brew-mageia/issues/10#issuecomment-407810637), I've been working on a script to automate part of the build and docker image creation process, so first I need to update it to support multiarch builds. too.

After that is ready I will push a new image and open a PR on the official images li

[2019-01-15 02:52] juanluisbaptiste commented on #12
@Conan-Kudo Do you have an example of how to build an arm64v8 with mkimage-dnf.sh ? I see that additional to -a to set the buildarch, the mirror (-m) also needs to be set, using this command complains about missing gpg key for the specified mirror (after removing --quiet from dnf command):

[code]
Also I see this issue is about an armv8 build but I only see armv5tl and armv7hl [mirrors](http://dis

[2019-01-15 03:05] odidev commented on #12
@juanluisbaptiste: Thanks for making progress in this aspect.
I meant ```arm64v8``` architecture.

[2019-01-15 03:09] Conan-Kudo commented on #12
64-bit ARM is `aarch64`. This is new to Mageia 7.

32-bit ARM for Mageia is `armv7hl`, which we've had since Mageia 6.

[2019-01-15 03:10] odidev commented on #12
```aarch64``` mirrors are present for ```Cauldron``` at the link http://mirrors.kernel.org/mageia/distrib/cauldron/aarch64/

Please have a look, may be it can be quite decisive.

Regards,

[2019-01-15 03:13] juanluisbaptiste commented on #12
@Conan-Kudo

This means we can't have an arm64v8 release until mageia 7 is released ?

[2019-01-15 03:15] Conan-Kudo commented on #12
@juanluisbaptiste The Mageia GPG key expired and was extended: https://bugs.mageia.org/show_bug.cgi?id=24106

You may need to fetch and manually import this into the RPM GPG on your computer first.

[2019-01-15 03:17] Conan-Kudo commented on #12
If you're making Cauldron container images, we can have aarch64 images for Cauldron, but otherwise, pretty much.

[2019-01-15 03:56] juanluisbaptiste commented on #12
@Conan-Kudo

AFAIK, we should have only stable releases on mageia docker hub, also it would not be possible to automate cauldron builds there as to add an updated image a PR needs to be opened and verified by docker library team members each time.

So we could have the cauldron builds on juanluisbaptiste/mageia:latest and also put the aarch64 there too.

WDYT ?

[2019-01-15 03:57] juanluisbaptiste commented on #12
But we could still add armv7hl for mageia 6 if we need to of course.

[2019-01-15 03:58] Conan-Kudo commented on #12
Sounds good to me, though we could have semi-regular snapshot pushes for Cauldron on the official mageia one, couldn't we?

[2019-01-15 04:03] juanluisbaptiste commented on #12
@Conan-Kudo Yes, with the main idea of the build2relase script is to automate image compilation and git branch preparation (up to commit and push if needed) for a new release. Having that working then a semi-regular snapshot will be easier to prepare for an official release.

[2019-01-17 04:38] juanluisbaptiste commented on #12
@Conan-Kudo can you point me to the instructions on how to build an arm image ? to be honest I think I'm not doing it right, I'm running mageia 6 on a docker container and inside it mkimage-dnf.sh, which works fine for x86_64, but for any other arch I get this error from mkimage-dnf.sh:

[code]

[2019-01-17 04:44] Conan-Kudo commented on #12
Hmm, this worked for me:

[code]

Setting the repos and adding `--nogpgcheck` seemed to fix it. I'm not sure why this was necessary... @dmach, do you have any idea why?

[2019-02-19 12:14] lag-linaro commented on #12
Any luck with this guys?

When is v7 due for release BTW?

[2019-02-28 02:45] juanluisbaptiste commented on #12
Unfortunately not, I have not been able to build armv7h1 arch. The dnf command posted by @Conan-Kudo  fails with lots of errors like this one:

[code]

And installation fails with this error:
[code]

I have tried various mirrors (kernel, ibiblio, distrib-coffee) and the same result.

[2019-03-13 01:46] juanluisbaptiste commented on #12
Any ideas anyone ?

[2019-03-13 02:17] Conan-Kudo commented on #12
Exit code 127 means it couldn't find the command. That means something is actually broken in the repos or in the dependency ordering. Let me look into it a bit more...

[2019-03-18 01:22] Conan-Kudo commented on #12
@juanluisbaptiste The issue was that `systemd-binfmt.service` wasn't restarted after installing `qemu-user-static`. Without that, the programs fail to be found or executed. It should work now. 😄

[2019-03-18 01:26] Conan-Kudo commented on #12
[code]

[2019-03-18 01:28] Conan-Kudo commented on #12
@juanluisbaptiste We should now be in a position to be able to build mga6, mga7, and cauldron images for multiple architectures. 😄

[2019-04-08 20:45] Conan-Kudo commented on #12
@juanluisbaptiste Any progress here?

[2019-04-11 02:48] juanluisbaptiste commented on #12
@Conan-Kudo Thanks, I will try to check this out this weekend before the holidays.

[2019-04-24 01:59] juanluisbaptiste commented on #12
I'm sorry on the delay on this. The main issue was that I no longer have a mageia box available so I was doing the image builds inside a mageia docker image. But the armv7 build needs systemd to work, and the current official image does not support systemd, so I had to do a virtualbox install but then I run into lack of space issues with my laptop, then the holidays, etc.

Anyway, today I was able

[2019-04-24 02:46] Conan-Kudo commented on #12
@juanluisbaptiste The updates to the script I've made will also allow you to use any system that has DNF on the host to produce Mageia containers. So if you have DNF by default (Fedora, Mageia), or can install it (CentOS 7, openSUSE Leap 15, openSUSE Tumbleweed), then it'll work.

[2019-04-24 03:56] juanluisbaptiste commented on #12
@Conan-Kudo I'm on kubuntu now.

[2019-04-24 05:12] juanluisbaptiste commented on #12
Ok the script is ready, now I need to figure out what I need to do to enable this image multiarch build on docker hub.

[2019-04-24 14:19] Conan-Kudo commented on #12
@juanluisbaptiste Aww... But there's a PPA for Ubuntu: https://launchpad.net/~directhex/+archive/ubuntu/mock-dnf

[2019-05-09 20:16] juanluisbaptiste commented on #12
Hi,

I just pushed the armv7hl image, now I need to update the official docker library to add the new architecture.

[2019-05-09 21:47] juanluisbaptiste commented on #12
Here's the official library pull request https://github.com/docker-library/official-images/pull/5886

[2019-05-10 06:23] lag-linaro commented on #12
That's great,  but where does that leave AArch64 (ARM64) support?

[2019-05-10 14:52] juanluisbaptiste commented on #12
@lag-linaro well IIRC arm64 is only supported in cauldron, so until we don't have an official mageia 7 release, we will not have an arm64 image.

[2019-05-12 00:09] Conan-Kudo commented on #12
@juanluisbaptiste Could we not have Cauldron and Mageia 7 containers made anyway, as long as the `:latest` label stays on Mageia 6?

[2019-05-13 16:55] juanluisbaptiste commented on #12
@Conan-Kudo well maybe for mageia 7, but for cauldron, because of the current update process it would be very cumbersome to be opening a PR against docker official-library every time the cauldron image is updated as the the idea would be to be updated fairly often. I think this way we could handle a weekly push to avoid adding an extra burden in the docker-official team members that have to manual

[2019-05-13 17:00] Conan-Kudo commented on #12
That sounds fine to me.

[2019-05-20 05:12] juanluisbaptiste commented on #12
FYI, I'm working now on mga 7 images for x86_64, armv7hl and aarch64.

[2019-05-20 15:37] juanluisbaptiste commented on #12
The aarch64 build finishes but it throws these errors during the build process:

[code]

I don't know if these messages will break the image, but the build finishes without issues.

[2019-05-20 15:43] Conan-Kudo commented on #12
Those are normal, it's fine to ignore. :)

[2019-05-20 19:18] juanluisbaptiste commented on #12
Done, I just added mageia 7 rootfs files for the three archquitectures (forgot to mention this issue in the commit).

https://github.com/juanluisbaptiste/docker-brew-mageia/tree/dist/dist/7

Now I will add them to the official library.

[2019-05-20 20:14] juanluisbaptiste commented on #12
official-images PR:  https://github.com/docker-library/official-images/pull/5931

[2019-06-13 11:09] lag-linaro commented on #12
Looks like this has been delivered.

Could someone please close this ticket?

[2019-06-13 15:29] juanluisbaptiste commented on #12
@lag-linaro you are right, this feature has been implemented. I had forgot to close it as there is one more issue mentioned here that we are going to work on, and that is automating cauldron builds, but I'll create a separate issue for that.

[2019-06-13 15:29] #12 closed

[2019-06-13 15:43] juanluisbaptiste opened #18 "Automated cauldron builds"
Hi @Conan-Kudo,

This is an issue to discuss the implementation of an automated cauldron build as being discussed in issue #12 .

As I mentioned on that issue, pushing cauldron images on a periodic basis to for ex, _mageia:cauldron_ or _mageia:latest_, is not the best idea because you can't automate all the process: to add a new/updated image to docker's official library requires opening a PR agai

[2019-06-13 15:45] Conan-Kudo commented on #18
Even a semi-automated process where we regularly update the official images should be set up. If people wanted fully automated builds, they can set up their own.

The point is that we need a process to ensure the official images are updated somewhat regularly.

[2019-06-13 15:48] Conan-Kudo commented on #18
@tianon @yosifkit, would it be too terribly punishing for you guys if we did monthly submissions?

[2019-06-13 15:53] juanluisbaptiste commented on #18
What's wrong with pushing to mageia/cauldron ? that one can be fully automated.

[2019-06-13 15:54] juanluisbaptiste commented on #18
and mageia/cauldron would also be an official image (from the official mageia user).

[2019-06-13 16:33] Conan-Kudo commented on #18
But it's not the same as `mageia:cauldron`, which is what people use now...

[2019-06-13 17:18] juanluisbaptiste commented on #18
Many distros do it too, like CentOS for custom images like images for mariadb (centos/mariadb) or postgresql (centos/postgresql). The point is that pushing to mageia/cauldron can be don daily if needed, to mageia:cauldron will need to be more sporadic.

IMO, being cauldron the development version makes more sense to have builds updated as often as possible instead of once a month.

[2019-06-13 18:45] tianon commented on #18
Monthly is perfectly reasonable for us! (Even weekly is generally fine.)

[2019-06-14 14:42] Conan-Kudo commented on #18
If weekly is fine, I think we should do that.

[2019-12-22 20:14] Conan-Kudo commented on #18
@juanluisbaptiste Not having regularly updated images for `mageia:cauldron` is hurting for leveraging some new features in Mock (it can use container images to bootstrap to a target environment for package builds). The currently published `mageia:cauldron` image is ridiculously old, lacking even DNF, much less latest RPM and whatnot.

Can we look to get this going soon?

[2020-01-08 22:55] juanluisbaptiste commented on #18
@Conan-Kudo I'm sorry for being MIA lately, I'm at the last stage of a big project at work which meant working overtime including weekends for the last few weeks, and being honest I still will not have time until the end of next week that the project is delivered.

But I think we can get this moving forward now, as I have mentioned before in another issue, I had been working on automating this pro

[2020-01-08 23:03] juanluisbaptiste commented on #18
Taking a quick look at the code, because of the current order of processing of cli parameter values maybe you will need to add -d even if -P is present too. Both options call prepare function, but if you are building planning on commit, you need the branch ready and that's what prepare function does.

[2020-04-13 14:24] juanluisbaptiste commented on #18
Hi @Conan-Kudo ,

At last I had some time to work on this, I reworked completely the build script, it was over complicated to use and it did not work. Now I have a new version, I will push it shortly and start building new images too.

[2020-04-13 20:12] juanluisbaptiste commented on #18
@Conan-Kudo Images pushed, I will do a test of them before updating docker/official-library and create the PR.

If you want to test them, you can downlad the rootfs files from dist branch, build them locally and run them.

[2020-04-13 21:39] juanluisbaptiste commented on #18
@Conan-Kudo I tested both mga 6 and 7 x86_64 images and they work fine, I will be updating the official library later when I have some time.

[2020-04-14 00:41] juanluisbaptiste commented on #18
Done, new PR docker-library/official-images#7784, @tianon could you check it out ?

[2020-04-14 03:20] juanluisbaptiste opened #24 "Remove mageia 6 images"
@Conan-Kudo  As mageia is EOL since January, should we also remove images from docker hub or should we leave them there for some time ?

[2020-04-14 11:30] Conan-Kudo commented on #24
I think generally the images stay up then, but the list of "supported tags" is usually mentioned somewhere (the README or something) to indicate which ones are actively maintained.

For example, this is what Fedora does: https://hub.docker.com/_/fedora

[2020-04-14 16:26] tianon commented on #24
Removing tags from the `library/mageia` file will remove them from the "Supported" section on the Hub readme (and will prevent us from spending cycles rebuilding them on the official build servers), but the tags will still be available to users who want them.  (See https://github.com/docker-library/official-images#library-definition-files for more detail on this.) :+1:

[2020-04-14 19:03] juanluisbaptiste commented on #18
Thanks @tianon, new images available.

[2020-04-14 19:28] juanluisbaptiste commented on #18
@Conan-Kudo , so with the new `build2relase.sh` script to do a new build you would run this command:

`./biuld2release.sh -b -p -U -v`

Which will build the images (-b) while recreating the dist branch with only one commit with the new images, force push the new branch to this repo (-p) and update my fork of `docker-library/official-images` with the new commit id on dist branch (-U). The only thin

[2020-04-14 20:06] juanluisbaptiste commented on #24
Ok I will proceed to delete the mageia 6 tags.

[2020-04-14 20:12] juanluisbaptiste commented on #24
[PR](https://github.com/docker-library/official-images/pull/7789) created.

[2020-04-14 20:55] juanluisbaptiste commented on #24
PR accepted, closing.

[2020-04-14 20:55] #24 closed

[2020-05-17 13:56] Conan-Kudo commented on #18
@juanluisbaptiste This is awesome!

[2021-01-16 00:36] juanluisbaptiste commented on #18
@Conan-Kudo With some small changes I pushed last December I now can also build cauldron images too. Right now I'm in the process of building the images and then push them to this repo.

[2021-01-16 01:11] Conan-Kudo commented on #18
That's awesome @juanluisbaptiste! That will make it easier to do CI/CD on projects to integrate against Mageia Cauldron. 💯

[2021-01-16 03:55] juanluisbaptiste commented on #18
@Conan-Kudo images pushed, now I'm preparing to update the official library repo, the (-U) option to automatically update it still needs more work.

[2021-01-16 04:12] juanluisbaptiste commented on #18
Done: https://github.com/docker-library/official-images/pull/9441

[2021-01-18 22:38] juanluisbaptiste commented on #18
@Conan-Kudo the PR was merged, so in a few minutes cauldron images should me available as _mageia:cauldron_

[2021-01-18 23:47] juanluisbaptiste commented on #18
I see the cauldron tag available and working ok.

[2021-01-30 11:51] Conan-Kudo commented on #18
@juanluisbaptiste Can you produce a `mageia:8` image? We're entering RC stage for Mageia 8 and I need an image to exist for Mock to support Mageia 8: https://github.com/rpm-software-management/mock/pull/694

[2021-01-30 18:15] juanluisbaptiste commented on #18
@Conan-Kudo sure, I will work on it over the weekend.

[2021-02-01 17:18] juanluisbaptiste commented on #18
@Conan-Kudo I just submitted a PR to docker-library/official-images for the new image.

[2021-02-01 19:56] juanluisbaptiste commented on #18
PR merged, images available.

[2021-02-09 19:30] juanluisbaptiste commented on #18
@Conan-Kudo last night I pushed new images.

[2022-03-11 16:45] cloph opened #25 ".febootstrap-minimize should not be a hidden file"
I don't see the point in hiding the file...

[2022-03-11 16:49] cloph opened #26 "makeimage.sh should default to C locale or not remove en_US.UTF-8 locale data"
anything perl related would spam otherwise that the current locale settings are invalid and that it is falling back to C

[2022-03-11 16:53] cloph opened #27 "make removing packaged files optional (.febootstrap-minimize doesn't just delete cache files) e.g. for use with wsl"
While I can see the point in trying to get the base docker image as small as possible, even by removing files that are part of core packages like glibc, for use with other systems like wsl2 it would be nice if the image creation could offer a mode where it only clears cache files or the aggressive minimization is skipped completely.

in other words: would be nice if rpm -Va wouldn't complain about

[2022-03-15 17:06] juanluisbaptiste opened #28 "Images build failing with multiple segfault errors on aarch64"
@Conan-Kudo I'm building updated images (sorry for the delay), but the aarch64 of cauldron is failing with segfault errors like this one:

`/usr/bin/update-ca-trust: line 17:  7697 Segmentation fault      (core dumped) /usr/bin/p11-kit extract --format=openssl-bundle --filter=certificates --overwrite --comment $DEST/openssl/ca-bundle.trust.crt`

Do you have an idea of what's going on or is there a

[2022-03-15 17:33] Conan-Kudo commented on #28
Hmm, I'll take a look at this. I hadn't seen this before but it's been a while...

[2022-03-15 17:33] Conan-Kudo commented on #28
Is this emulating on x86_64 or using native aarch64 hosts?

[2022-03-15 17:34] juanluisbaptiste commented on #28
Emulating on a x86_64 VM.

[2022-03-15 18:08] juanluisbaptiste commented on #28
aarch64 on 8 is failing too, but I managed to do at least one build of all 8 images.

[2022-03-17 01:30] juanluisbaptiste commented on #28
@Conan-Kudo [here is](https://paste.centos.org/view/6582906e) the output of `mkimage.sh` of a failed build of mga 8 on aarch64.

[2022-03-25 00:55] juanluisbaptiste commented on #26
@cloph PR welcome.

[2022-03-25 00:55] juanluisbaptiste commented on #27
@cloph PR welcome.

[2022-03-25 00:56] juanluisbaptiste commented on #25
@cloph I do not remember the reason why that file is hidden but it is not relevant to the image build process, so closing.

[2022-03-25 00:56] #25 closed

[2022-03-25 00:57] juanluisbaptiste commented on #28
@Conan-Kudo were you able to take a look ?

[2022-03-25 01:12] Conan-Kudo commented on #28
Yeah, I'm digging into it and still figuring things out

[2022-07-08 15:25] nmichalo opened #29 "System update fails for cauldron image."
I started the system and tried to updating and ran into the following:

[root@localhost]# urpmi --auto-update

perl: warning: Setting locale failed.
perl: warning: Please check that your locale settings:
        LANGUAGE = (unset),
        LC_ALL = (unset),
        LC_SOURCED = "1",
        LANG = "en_US.UTF-8"
    are supported and installed on your system.
perl: warning: Falling back to the stan

[2022-07-08 20:16] juanluisbaptiste commented on #29
@nmichalo I just tested the image doing a `urpmi --auto-update` and worked fine, this is an issue with the mirror you are using, test with the default one (https://distrib-coffee.ipsl.jussieu.fr).

[2022-07-08 20:19] juanluisbaptiste commented on #29
@nmichalo sorry, I tested with mageia 8, but with cauldron image I get the same error.

[2022-07-13 02:06] DavidWHodgins opened #30 "Non official images, not official."
As previously requested please make it clear these are images created by one person. They are not official Mageia images.
They have not passed qa testing. They have not been approved by council, which in the past made the choice that while
we provided docker, we do not provide docker images of Mageia.

[2022-07-13 04:33] rihoward commented on #7
As far as I know this was never accepted or implemented by Mageia.

[2022-07-13 20:42] tianon commented on #30
@DavidWHodgins I'm not the maintainer on this repository, but I'm a maintainer of the "official images" program it's part of, and I want to express apologies that this image has caused confusion! :bow: :heart:

In the interest of helping here as much as I can, what do you think about starting with a change to the "Maintained by:" text on https://hub.docker.com/_/mageia as a first pass?  Is there s

[2022-07-13 21:10] DavidWHodgins commented on #30
On Wed, 13 Jul 2022 16:42:49 -0400, Tianon Gravi ***@***.***> wrote:

I've opened up a discussion on the topic with the Mageia Board of directors, of
which I am a member. I'm also a member of the council and the leader of the Mageia
Quality Assurance team.

While we do have the docker packages available to our users and are fine with
the distribution of scripts to enable individuals to build their

[2022-07-13 21:41] juanluisbaptiste commented on #30
Hi @DavidWHodgins,

Could you point us to the discussion where this decision was taken by the council? I have been maintaining these images with the help from @Conan-Kudo  since 2014, and in all this time, this is the first time I hear about this complaint from the council. Last discussion I remember about the docker images on the dev mailing list was last year when I announced the new mageia 8 im

[2022-07-13 22:31] DavidWHodgins commented on #30
On Wed, 13 Jul 2022 16:42:49 -0400, Tianon Gravi ***@***.***> wrote:

 From the Board discussion, I found out another Board/Council member (Neal Gompa)
is also involved.

Unlike Juan who is no longer contributing to Mageia, Neal is active.

As such, it goes from being a possible legal or discipline issue, which would
be handled by the board, to a procedural issue which falls within the purview
of

[2022-07-14 01:46] DavidWHodgins commented on #30
I was wrong about the Mageia council voting against distributing docker images. Searching through my archives, there
were some discussions, but never a vote. My memory failed me. My apologies

[2022-07-14 02:17] DavidWHodgins commented on #30
On Wed, 13 Jul 2022 17:42:18 -0400, Juan Luis Baptiste ***@***.***> wrote:

It seems I mis-remembered. The council never voted on it. My apologies.
I have called for a formal vote now though.

Regards, Dave Hodgins

[2022-07-14 02:41] juanluisbaptiste commented on #30
What? Just because I decided to contribute my spare time in another way to mageia that was more useful for the project instead to continue to maintain hundreds of distribution packages does not mean I'm not actively contributing! I have been part of mageia since day one in 2010 and Mandriva long before that, and continue to do so, but in a different way. What's wrong with helping  mageia have a pr

[2022-07-14 02:46] juanluisbaptiste commented on #30
Can I at least have a say on this before the vote? As I said in my previous post, I think most of the concerns comes from misunderstandings on how docker images work and how updates can be automated, at the very least after all the work I have put on this project I should deserve the opportunity to be heard by the council and clarify any concerns they have.

Also, the mageia community should be in

[2022-07-14 17:46] tianon commented on #30
I think Ubuntu is probably a decent (similar) example here -- they build, QA, and then publish all the rootfs tarballs that become https://hub.docker.com/_/ubuntu entirely on Canonical-run infrastructure.  For base images like this, the only difference between publishing to a registry and publishing to official images is the API through which the tarball gets uploaded (in our case, it goes through

[2022-07-16 16:09] DavidWHodgins commented on #30
On Wed, 13 Jul 2022 22:46:53 -0400, Juan Luis Baptiste ***@***.***> wrote:

I'm trying to learn more about it so I can give it a better evaluation. I'm
having trouble getting it to run with persistent data. The documentation needs
a lot of work.

Can you post what commands you ran to get it to work with persistent storage?

Thanks, Dave Hodgins

[2022-07-16 19:34] DavidWHodgins commented on #30
Managed to get persistent storage with ...
$ docker volume create m8
$ docker run -it --mount source=m8,target=/root/data --name mageia bash
  # do some stuff creating files in /root/data
  # exit
$ docker start mageia
$ docker attach mageia
  # confirm data in /root/data is saved

I'm still missing how an application can be installed within the docker image.

[2022-07-16 19:49] Conan-Kudo commented on #30
I've had a bunch of IRL things happen to delay my work on identifying the problem, but it is on my radar.

I agree that it's not fair to exclude @juanluisbaptiste as a Mageia contributor because he primarily works on the container images. His work is valuable and worth supporting in the project.

having trouble getting it to run with persistent data. The documentation needs
a lot of work.

To set

[2022-07-16 19:51] juanluisbaptiste commented on #30
Well, the idea is not to replicate the docker documentation here, normally when someone is trying to use a docker image they already know how containers work and probably also know how to use them. There are several ways to use a docker image depending on the platform you are running it, be it locally, or on a kubernetes cluster, on nomad, docker swarm, mesos, etc., it would be a pretty long docum